@model LeThanhChien_2122110282.Context.Product

@{
    ViewBag.Title = "Delete";
}

<h3>Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
<div>
    <hr />
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Avatar)</td>
                <td>                    
                <img src="@Url.Content("~/Content/images/items/" + Model.Avatar)" alt="Avatar" class="img-fluid" style="max-width: 100px;" />                </td>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CategoryId)</td>
                <td>@Html.DisplayFor(model => model.CategoryId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ShortDes)</td>
                <td>@Html.DisplayFor(model => model.ShortDes)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FullDescription)</td>
                <td>@Html.DisplayFor(model => model.FullDescription)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Price)</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PriceDiscount)</td>
                <td>@Html.DisplayFor(model => model.PriceDiscount)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.TypeId)</td>
                <td>@Html.DisplayFor(model => model.TypeId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Slug)</td>
                <td>@Html.DisplayFor(model => model.Slug)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.BrandId)</td>
                <td>@Html.DisplayFor(model => model.BrandId)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Deleted)</td>
                <td>@Html.DisplayFor(model => model.Deleted)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ShowOnHomePage)</td>
                <td>@Html.DisplayFor(model => model.ShowOnHomePage)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DisplayOrder)</td>
                <td>@Html.DisplayFor(model => model.DisplayOrder)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CreatedOnUtc)</td>
                <td>@Html.DisplayFor(model => model.CreatedOnUtc)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UpdatedOnUtc)</td>
                <td>@Html.DisplayFor(model => model.UpdatedOnUtc)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "ProductList", "Product", new { @class = "btn btn-secondary" })
        </div>
    }
</div>
